<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
</head>
<body>

  <%= @header_partial %>

  <h1>Dashboard</h1>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Author</th>
      </tr>
    </thead>
    <% @books.each do |book| %>
      <tr>
        <td><%= book['id'] %></td>
        <td><%= book['name'] %></td>
        <td><%= book['author'] %></td>
      </tr>
    <% end %>
  </table>
  
</body>
</html>
