<header>
  <nav>
    <a href="/admin/dashboard">Dashboard</a>
    <a href="/admin/books">Books</a>
  </nav>
  <form action="/session/delete" method="post">
    <input type="submit" value="Sign out">
  </form>
</header>
