<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New user</title>
</head>
<body>

  <%= @header_partial %>

  <h1>New user</h1>

  <form action="/admin/users/create" method="post">
    <label>
      First name: <br>
      <input type="text" name="first_name">
    </label>
    <br>
    <label>
      Last name: <br>
      <input type="text" name="last_name">
    </label>
    <br>
    <label>
      Email: <br>
      <input type="text" name="email">
    </label>
    <br>
    <label>
      Password: <br>
      <input type="password" name="password">
    </label>
    <br>
    <label>
      Admin: <br>
      <input type="checkbox" name="admin">
    </label>
    <br><br>
    <input type="submit">
  </form>
  
</body>
</html>
